body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategray;
  color: white
}

h1 {
  font-family: verdana, arial, sans-serif;
}

button {
  padding: 10px;
  border-radius:10px;
}

#gameButtonArea > button {
  height: 200px;
  width: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background:lightgreen;
}
#button2 {
  background:lightblue;
}
#button3 {
  background:pink;
}
#button4 {
  background:lightyellow;
}
img {
  height:182px;
  width:182px;
  opacity:0;
}
img:active, img.lit {
  opacity:1;
}
#button1:active, #button1.lit {
  background: green;
}
#button2:active, #button2.lit {
  background: blue
}
#button3:active, #button3.lit {
  background: red
}
#button4:active, #button4.lit {
  background: yellow
}

